main{
	.blog-imgs-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5% 10%;
		gap: 3rem;
		@media (max-width: 600px) {
			margin: 0 10%;
			}
		
		.blog-img {
			width: 50vw;
			height: 95vh;
			border-radius: 30px;
			margin: 5px;
			@media (max-width: 600px) {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
		.blog-img-center {
			display: flex;
			align-items: center;
		}
		.blog-img-size {
			height: 575px;
		} 
	}
	.blog-main-h2 {
			text-align: center;
			margin: 40px 0;
			font-family: $font-family_2;
		}
	.container-redesSociales {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin: 0 0 9rem 0;
	}	

}	
