header {
    .branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $background-color_2;
        .container-brand {
            padding: 10px;
        }
        .logo {
            img {
                width: 110px;
                border-radius: 25px;
                border: solid black 3px;
                margin-top: 10px;
                &:hover {
                    box-shadow: 0px 0px 6px 6px #022e33;
                    border-radius: 40%;
                    transition: all 1s ease;
                }
            }
        }
        .brand {
            font-size: 50px;
            font-family: $font-family_1;

        }
    }
    nav {
        background-color: $background-color_3;
        .nav-button {
            background-color: $background-color_2;
        }
        .menu {
            text-align: center;
            font-size: 18px;
            .nav-item {
                @include nav-item();
                &.active {
                    @include nav-item(1);
                }
            }
        }
        .logo {
            width: 50px;
            border-radius: 10px;
            border: solid black 3px;
        }
    }
}
