$color_1: #fff8dc;
$color_2: #ffffff;
$font-family_1: 'Aboreto', cursive;
$font-family_2:  'Poppins', sans-serif;
$background-color_1: #Edf6f5;
$background-color_2: #66cdcc;
$background-color_3: #022e33;
$background-color_4: #e8e8e8;
$background-color_5: #21464e;
$background-color_6: #e7905b;
$background-color_7: #fffa90;
