@import "_variables";
@import "_mixins";
@import "_header";
@import "_footer";
@import "_index";
@import "_premier";
@import "_blog";
@import "_animation";
@import "_carta";

.button-primary {
    padding: 0 10px;
    border-radius: 5px;
    width: fit-content;
    
    &:hover {
        background-color: $background-color_3;
        color: $color_2;
    }
}
.page-header{
    text-align: center;
    padding: 30px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.bold {
	font-weight: 800;
}







