@import "_variables";
@import "_mixins";
@import "_header";
@import "_footer";
@import "_index";
@import "_premier";
@import "_blog";
@import "_animation";
@import "_carta";
@import "_contacto";

.button-primary {
    padding: 0 10px;
    border-radius: 8px;
    width: fit-content;
    font-family: $font-family_2;
    background-color: $background-color_7;
    &:hover {
        background-color: $background-color_5;  
        color: $color_2;
    }
}
.page-header{
    text-align: center;
    padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family_1;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: $font-family_2;
	background-color: $background-color_1;
}
.bold {
	font-weight: 800;
}







